package main

import (
	"github.com/motaword/openapi-cli-generator/cli"
)

func main() {
	cli.Init(&cli.Config{
		AppName:   "{{ .Name }}",
		EnvPrefix: "{{ .NameEnv }}",
		Version:   "1.0.0",
		// Caching:   true, // Uncomment if you want to enable temporary data caching between runs
	})

	// TODO: Add register commands here.

	cli.Root.Execute()
}
